$gutter: 8px;

.Dialog {
    &::before {
        content: "";
        position: fixed;
        top: -100vh;
        left: -100vw;
        padding: 100vh 100vw;
        background-color: #111;
        z-index: 1;
        opacity: 0.88;
    }
}

.Dialog-inner {
    background: white;
    padding: $gutter * 4;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 1px solid lightgrey;
    z-index: 2;
}

.Dialog-input {
    width: 100%;
    padding: 12px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 6px;
}
