$gutter: 8px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.section {
    &:not(:first-child) {
        margin-top: $gutter * 10;
    }
}

.App {
    margin: 0 auto;
    max-width: 950px;
}

.editor-headline {
    margin-bottom: $gutter * 2;
}

.editor-table {
    display: flex;
    justify-content: center;
    flex-direction: column;

    > table {
        padding-right: $gutter * 4;
        padding-bottom: $gutter * 4;
    }
}

td {
    text-align: center;
}

.editor {
    display: flex;
}

.Legend {
    padding-left: 0;
}

.Legend-item {
    list-style-type: none;
    padding-left: 0;
}

