.Image {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;

    &::after {
        position: absolute;
        content: '\271A';
        left: 0;
        font-size: 43px;
        right: 0;
        top: -4px;
        color: lightgrey;
    }
}
